* {
	margin: 0;
	padding: 0;
}

body {
	color: var(--foreground-rgb);
	background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
		var(--background-start-rgb);
}

.container {
	max-width: 1536px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100dvh;
}

main {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

nav {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

button {
	text-decoration: none;
	outline: none;
	background-color: transparent;
	border: 0;
}

.border-style {
	border-color: #bccbc080;
	border-width: 0.5px;
}
