@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--font-size-min: 17;
	--font-size-max: 20;
	--font-ratio-min: 1.2;
	--font-ratio-max: 1.33;
	--font-width-min: 320;
	--font-width-max: 1500;
}

:where(.fluid) {
	--fluid-min: calc(var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0)));
	--fluid-max: calc(var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0)));
	--fluid-preferred: calc(
		(var(--fluid-max) - var(--fluid-min)) / (var(--font-width-max) - var(--font-width-min))
	);
	--fluid-type: clamp(
		(var(--fluid-min) / 16) * 1rem,
		((var(--fluid-min) / 16) * 1rem) -
			(((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
			(var(--fluid-preferred) * var(--variable-unit, 100vi)),
		(var(--fluid-max) / 16) * 1rem
	);
	font-size: var(--fluid-type);
} */

/* shadcn */
@layer base {
	:root {
		/* local variables */
		--background-start-rgb: rgb(0, 0, 0);
		--background-end-rgb: rgb(0, 0, 0);
		--foreground-rgb: rgb(0, 0, 0);
		--h-text-color: rgb(255, 255, 255);
		--body-text-color: rgb(156, 156, 156);
		--text-gray: rgb(100, 100, 100);

		/* shadcn/ui variables */
		--background: 0 0% 0%;
		--foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--ring: hsl(212.7, 26.8%, 83.9);
	}
}

/* ------------------------------------------------- */

::-webkit-scrollbar {
	width: 7px;
	height: 3px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
	background: rgba(103, 103, 103, 0.5);
}
::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0);
}

/* ---------------------- TEXT --------------------------- */

* {
	font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
	text-wrap: balance;
}

h5 {
	font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
	font-size: clamp(1rem, 8vw, 1.2rem); /* Adjusted */
	font-weight: 300;
	letter-spacing: -0.01em;
	color: var(--h-text-color);
}

h4 {
	font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
	font-size: clamp(3rem, 8vw, 5rem); /* Adjusted */
	font-weight: 600;
	color: var(--h-text-color);
}

h3 {
	font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
	color: var(--h-text-color);
	font-size: clamp(1.5rem, 8vw, 2rem); /* Adjusted */
	font-weight: 500;
	line-height: 1.1em;
}

h2 {
	font-family: 'Public Sans', Arial, Helvetica, sans-serif;
	color: var(--h-text-color);
	font-size: clamp(1.25rem, 6vw, 2.1rem); /* Adjusted */
	font-weight: 400;
}

h1 {
	font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
	color: var(--h-text-color);
	font-size: clamp(1rem, 6vw, 3rem); /* Adjusted */
	font-weight: 500;
}

p {
	font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
	color: var(--body-text-color);
	text-wrap: pretty;
	font-kerning: auto;
	font-weight: 300;
	line-height: 120%;
	font-size: clamp(0.8rem, 2vw, 0.9rem); /* Adjusted */
}

a,
li {
	font-family: 'Reddit Sans', Arial, Helvetica, sans-serif;
	color: var(--body-text-color);
	text-wrap: pretty;
	font-kerning: auto;
	font-weight: 300;
	text-decoration: none;
	font-size: clamp(0.8rem, 2vw, 1.2rem); /* Adjusted */
}

.sans-text {
	font-family: 'Public Sans', Arial, Helvetica, sans-serif;
}

.mono-text {
	font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

.mono-text-2 {
	font-family: 'Space Grotesk', 'Courier New', Courier, monospace;
}

.gray-text {
	color: var(--text-gray);
}

.ascii {
	white-space-collapse: preserve;
	text-wrap: nowrap;
	font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
	font-weight: 400;
	font-kerning: auto;
	font-size: clamp(0.25rem, 8vw, 0.5rem);
	letter-spacing: clamp(0.05em, 8vw, 0.2em);
}

.foot-text {
	font-size: clamp(0.65rem, 1vw, 0.75rem); /* Responsive to viewport width */
}

.small-text {
	font-size: clamp(0.75rem, 2vw, 1rem); /* Responsive to viewport width */
}

/* ---------------------- CONTAINERS --------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-wrap: break-word;
}

body {
	color: var(--foreground-rgb);
	background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
		var(--background-start-rgb);
}

.container {
	max-width: clamp(320px, 100%, 1536px); /* Adjusted */
	margin-left: auto;
	margin-right: auto;
	min-height: 100dvh;
}

main {
	width: 100%;
	max-width: 1020px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	
}

@media (width > 1024px) {
	main {
		max-width: 1024px;
		padding-left: 2rem;
	}
}

@media (768px < width < 1024px) {
	main {
		max-width: 768px;
		padding-left: 2rem;
	}
}

nav {
	max-width: clamp(320px, 100%, 1536px); /* Adjusted */
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* button {
	text-decoration: none;
	outline: none;
	background-color: transparent;
	border: 0;
} */

.card-border {
	border-color: #bccbc080;
	border-width: 0.5px;
	border-radius: 0.5rem;
}

.border-style {
	border-color: #bccbc080;
	border-width: 0.5px;
}

/* ---------------------- MEDIA QUERIES --------------------------- */

/* @media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 475px) {
} */

/* ---------------------- ANIMATIONS --------------------------- */

.spin_element {
	animation: spin 5s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg) scale(4.5);
	}
	to {
		transform: rotate(360deg) scale(4.5);
	}
}

@keyframes background-pan {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 100% 100%;
	}
}

.magic-text {
	animation: background-pan 8s cubic-bezier(0.21, 0.74, 0.71, 0.97) infinite;
	background: linear-gradient(to top left, #29322ee1 30%, #56f5b2 50%, #095e3a 55%, #29322ee1 60%);
	background-size: 800% 800%;
	will-change: background-position;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.magic-text-static {
	background: linear-gradient(to bottom, #ffffff, #d3d3d3, #d3d3d3, #5f5f5f, #383838);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
